*.db
*.sqlite
*.sql
current_db.db

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.venv
venv
ENV
env.bak
venv.bak

.streamlit/

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

*.log
.cache/
.huggingface/